#nav{
    border-style: dotted;
    border-color:burlywood;
    border-width: 4px;
}

#bio{
    font-size: 20px;
    color:cadetblue;
}

#schooling{
    font-size: 20px;
    color: red;
}

#hobbies{
    font-size: 20px;
    color:darkcyan;
}

#website_link{
    font-size: 15px;
}